:root {
   --color-top: #F68926;
  --color-bottom: #ffd061;
  --color-text: #333;
  --color-background: #fff;
  --color-border: #ddd;

  --font-inter: 'Inter', sans-serif;
}

html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #F68926, #ffd061);
}


a {
  text-decoration: underline;
}

a, h1, h2, h3, p, button {
  text-decoration: none !important;
}

